.heroSection {
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/img/mobileHero@2x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.heroContent {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: white;
  z-index: 2;
  position: static;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.mainHero {
  font-size: 14px;
}

.textTitle {
  font-size: 12px;
}

@media (min-width: 768px) {
  .heroSection {
    background-image: url('../../assets/img/tabletHero@2x.webp');
    background-position: center;
  }

  .mainHero {
    font-size: 20px;
  }

  .textTitle {
    font-size: 16px;
  }
}


@media (min-width: 1440px) {
  .heroSection {
    background-image: url('../../assets/img/3.webp');
    background-position: center;
    background-size: cover;
  }

  .mainHero {
    font-size: 28px;
  }

  .textTitle {
    font-size: 20px;
  }
}

@media (min-height: 340px) and (max-height: 420px) {
  .mainHero {
    font-size: 16px;
  }

  .textTitle {
    font-size: 12px;
  }

  .heroContent {
    padding: 1rem;
  }
}