.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;

}

/* Styles for Tablet devices */
@media screen and (min-width: 925px) {
  .container {
    max-width: 925px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1920px;
    padding: 0 64px;
  }
}