:root {
  --black: #1c1e1f;
  --white-brown: #fbc88e;
  --red: #a41215;
  --brown: #89422a;
  --grey: #797979;
  --sky: #4b647e;

  --font-main: 'Montserrat', sans-serif;
}

html,
body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background-color: #1c1e1f;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* ✅ тепер можна скролити */
}

body.no-scroll {
  overflow: hidden;
  /* ❌ скрол відключається лише на головній */
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1440px) {
  body {
    transform: scale(1);
    transform-origin: top center;
    
  }
}
